<a href="https://colab.research.google.com/github/arilaleh/python-learning-journal/blob/main/CIST5A_HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Homework: Introduction to Python

In this homework assignment, you'll practice what you've learned so far: variables, types, operators, errors, and print statements. Complete each part and submit your notebook when you're done.

**Instructions:**
- Write your code in the provided cells.
- Run each cell to check your results.
- Submit your completed notebook by the due date.


## Part 1: Variables and Types

### Exercise 1
Create variables of the following types: `int`, `float`, and `str`. Assign any values you like to them and print each one.

In [38]:
#Integer variable
myInt = 8

# Float variable
myFloat = 5.0

# String variable
myStr = "college"

#Print each variable
print(myInt)
print(myFloat)
print(myStr)

8
5.0
college


### Exercise 2
The following code contains errors. Identify and correct them.

In [41]:

# The code below has errors. Fix them.

#Removed underscores from variable names to follow common Python naming practices.

#myNumber is currently a string
myNumber = "10"

#myFloat is a float
myFloat = 5.0

# myNumber cannot be directly added to myFloat because they are of different data types (string and float).
# Convert myNumber to a float so it can be added to myFloat without causing an error.
result = float(myNumber) + myFloat

# Convert result to a string so it can be combined with the text in the print statement. This is necessary because you can only combine data of the same type.
print("The result is: " + str(result))

The result is: 15.0


## Part 2: Operators

### Exercise 3
Perform the following arithmetic operations and print the results:
1. Addition of two numbers.
2. Subtraction of one number from another.
3. Multiplication of two numbers.
4. Division of one number by another.

In [43]:
#Define the variables
x = 3
y = 5

#Addition of two numbers
print(x + y)

#Subtraction of one number from another.
print(y - x)

#Multiplication of two numbers
print(x * y)

#Division of one number by another.
print(y / x)

8
2
15
1.6666666666666667


### Exercise 4
Use comparison and logical operators to evaluate the following expressions and print the results:
1. Is 10 greater than 5?
2. Is 3 less than or equal to 3?
3. Is 7 equal to 8?
4. Is 5 greater than 3 and 2 less than 4?

In [14]:
#Is 10 greater than 5?
print(10 > 5)

#Is 3 less than or equal to 3?
print(3 <= 3)

#Is 7 equal to 8?
print(7 == 8)

#Is 5 greater than 3 and 2 less than 4?
print(5 > 3 and 2 < 4)

True
True
False
True


## Part 3: Errors and Debugging

### Exercise 5
The following code contains syntax and runtime errors. Identify and correct them.

In [46]:

# The code below has errors. Fix them.

#I closed the space between between "my" and "variable" since variable names cannot have spaces. I also removed the semi-colon after "This is my first string" as semi-colons are not needed in Python.
myVariable = "This is my first string"

#I changed the variable name "2remove" to "twoRemove" because variable names cannot start with numbers. I also removed the semicolon after " first."
twoRemove = " first"

#I closed the space between "final" and "String" since variable names cannot have spaces. I also removed the semi-colon.
#Subtraction cannot be done on strings, so I used the slicing method to remove " first."
#Used slicing to manually remove " first" by taking characters before and after the substring.
finalString = myVariable[0:10] + myVariable[16:]

#Print the final string after removing " first."
print(finalString)

This is my string


## Part 4: Print Statements

### Exercise 6
Use print statements to display the following:
1. A string that says "Hello, World!"
2. A formatted string that includes the values of two variables.

In [49]:
#Print a string that says "Hello, World!"
print("\"Hello, World!\"")

#Define two variables
variable1 = 5
variable2 = 8

#Print a formatted string that includes the values of the two variables
print("The value of variable1 is " + str(variable1) + " and the value of variable2 is " + str(variable2) + ".")

"Hello, World!"
The value of variable1 is 5 and the value of variable2 is 8.


### Exercise 7
Print multiple variables each on their own line using a **single** print statement.

In [51]:
#Define multiple variables
variable1 = 5
variable2 = 8
variable3 = 10

#Print the variables each on their own line using one print statement
print(str(variable1) + "\n" + str(variable2) + "\n" + str(variable3))

5
8
10


## Conclusion

Reflect on what you've learned in this homework. What parts were easy for you? Which ones were challenging? Write a few sentences below.

In this homework, I learned about using various Python concepts, such as string manipulation, variable assignment, and basic arithmetic and logical operations. The parts that were easy for me included defining variables and using simple print statements, as I’m comfortable with basic Python syntax. However, I found it challenging to manipulate strings, particularly when formatting strings to include the values of variables without explicitly stating what they are, and using one print statement to print variables on their own lines.

A specific challenge I faced was removing the substring "first" from the string "This is my first string." The concepts we covered in class didn't directly address this task, so I wasn't initially sure how to approach it. Fortunately, I am also taking a foundations of data science course where I recently learned about the slicing method. I applied this knowledge by using slicing to manually remove "first" by selecting the parts of the string before and after the substring, then concatenating them to form the final result. This experience taught me the value of integrating concepts from different courses to solve problems, and it reinforced the usefulness of slicing for string manipulation.

Overall, this assignment helped strengthen my understanding of basic Python operations and syntax nuances.